[submodule "tools/motia"]
	path = tools/motia
	url = https://github.com/MotiaDev/motia.git
[submodule "thirdparty/circt"]
	path = thirdparty/circt
	url = https://github.com/llvm/circt.git
[submodule "arch/thirdparty/chipyard"]
	path = arch/thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "tools/deepwiki"]
	path = tools/deepwiki
	url = https://github.com/AIDotNet/OpenDeepWiki.git
[submodule "workflow/vscode"]
	path = workflow/vscode
	url = https://github.com/DangoSys/buckyball-vscode.git
[submodule "thirdparty/picker"]
	path = thirdparty/picker
	url = https://github.com/XS-MLVP/picker.git
[submodule "bebop/host/gem5/gem5"]
	path = bebop/host/gem5/gem5
	url = https://github.com/gem5/gem5.git
[submodule "bebop/host/spike/riscv-isa-sim"]
	path = bebop/host/spike/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim
[submodule "tools/palladium"]
	path = tools/palladium
	url = https://github.com/SEU-ACAL/awesome-palladium.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/DangoSys/bb-compiler.git
