[submodule "thirdparty/chipyard"]
	path = thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "tools/vistools"]
	path = tools/vistools
	url = https://github.com/BuckyBallSys/bb-vistools.git
[submodule "tools/motia"]
	path = tools/motia
	url = https://github.com/MotiaDev/motia.git
[submodule "thirdparty/circt"]
	path = thirdparty/circt
	url = https://github.com/llvm/circt.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/BuckyBallSys/bb-compiler
